<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace = "kr.smhrd.mapper.BoardMapper">
	<select id = "getList" resultType="kr.smhrd.entity.Board">
		select * from Board order by idx desc
	</select>
	
	<insert id = "register" parameterType="kr.smhrd.entity.Board">
		insert into board(title,content,writer) 
		values(#{title},#{content},#{writer})
	</insert>
	
	<select id = "get" resultType="kr.smhrd.entity.Board" parameterType="int">
		select * from board where idx=#{idx}
	</select>
	
	<delete id="remove" parameterType="int">
		delete from board where idx=#{idx}
	</delete>
	
	<update id = "modify" parameterType="kr.smhrd.entity.Board">
		update board set content=#{content},title=#{title} where idx=#{idx}
	</update>
	
</mapper>



