<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
	
	<mapper namespace="kr.smhrd.mapper.MemberMapper">
	
		<insert id = "memberJoin" parameterType="kr.smhrd.entity.Member">
			insert into  mailmembers(memID,memPassword,memName,memAge,memGender,memEmail)
            values(#{memID},#{memPassword},#{memName},#{memAge},#{memGender},#{memEmail})
		</insert>
	
		<select id = "memberLogin" resultType = "kr.smhrd.entity.Member">
			select * from mailmembers where memPassword=#{memPassword} and memID=#{memID}
		</select>


	</mapper>